@font-face {
   font-family: 'Lato';
   src: url('../fonts/Lato-Regular.eot');
   src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Lato-Regular.woff') format('woff'),
      url('../fonts/Lato-Regular.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Lato';
   src: url('../fonts/Lato-Medium.eot');
   src: url('../fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Lato-Medium.woff') format('woff'),
      url('../fonts/Lato-Medium.ttf') format('truetype');
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: 'Lato';
   src: url('../fonts/Lato-SemiboldItalic.eot');
   src: url('../fonts/Lato-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Lato-SemiboldItalic.woff') format('woff'),
      url('../fonts/Lato-SemiboldItalic.ttf') format('truetype');
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: 'Georgia';
   src: url('../fonts/Georgia-Bold.eot');
   src: url('../fonts/Georgia-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Georgia-Bold.woff') format('woff'),
      url('../fonts/Georgia-Bold.ttf') format('truetype');
   font-weight: 700;
   font-style: normal;
}

@font-face {
   font-family: 'Avenir';
   src: url('../fonts/AvenirLT-BlackOblique.eot');
   src: url('../fonts/AvenirLT-BlackOblique.eot?#iefix') format('embedded-opentype'),
      url('../fonts/AvenirLT-BlackOblique.woff') format('woff'),
      url('../fonts/AvenirLT-BlackOblique.ttf') format('truetype');
   font-weight: 900;
   font-style: normal;
}